@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-opacity {
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: "DigitalDismay";
    src: url("../public/font/DigitalDismay.otf");
}
